@import "left_panel";
@import "center_panel";

.bar {
  font-family: "Monaco Nerd Font";

  &.full {}

  &.empty {}

  .component {
    background-color: $background-transparent;
    color: $fg-color;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
  }
}
