* {
  border: none;
  border-radius: 0px;
  font-family: "Monaco Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 10px;
}

window#waybar {
  background-color: rgba(0, 0, 0, .0);
}

window#waybar.hidden {
  opacity: 0.2;
}

#left,
#center,
#right {
  color: @main-color;
  background: #242424;
  margin: 4px 0px 4px 0px;
  opacity: 1;
  border: 0px solid #181825;
  border-radius: 22px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 5px;
  color: #fff;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active label {
  font-size: 15px;
}

#workspaces button.active {
  background: #DA025D;
  color: #DDBF98;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 15px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background: #B16286;
  border: none;
}

#workspaces {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#center,
#right {
  padding: 5px 10px;
}

#center #window label {
  font-weight: normal;
}

#center #window image {
  font-weight: bold;
  color: #FFCA40;
}

#submap {
  margin-left: 15px;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  color: #FFCA40;
}

#tray {
  padding-left: 0px;
  padding-right: 19px;
}

#network {
  color: #73B580;
  padding-left: 0px;
  padding-right: 19px;
}

#network.disabled {
  color: #555;
}

#network.disconnected {
  color: #EF4E32;
}

#pulseaudio {
  color: #DDC7A1;
  padding-left: 0px;
  padding-right: 19px;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
  color: #EA6962;
}

#clock {
  color: #94A6FF;
  padding-left: 0px;
  padding-right: 0px;
}

#pulseaudio-slider {
  padding: 0px;
  margin-right: 15px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  background-color: #9F9792;
  border: none;
  box-shadow: none;
  border-radius: 15px;
}

#pulseaudio-slider trough {
  min-height: 5px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #3A352D;
}

#pulseaudio-slider highlight {
  min-width: 5px;
  border-radius: 5px;
  background-color: #DDC7A1;
}
