$fg-color: var(--theme-fg-color);
$bg-color: var(--theme-bg-color);
$selected-fg-color: var(--theme-selected-fg-color);
$selected-bg-color: var(--theme-selected-bg-color);
$text-color: var(--theme-text-color);
$placeholder-text-color: var(--placeholder-text-color);
$contrast-bg-color: var(--text-view-bg);
$warning-color: var(--warning-color);
$success-color: var(--success-color);
$error-color: var(--error-color);
$gtk-error-bg-color: var(--error-bg-color);
$gtk-error-fg-color: var(--error-fg-color);
$background-transparent: rgba(71, 67, 65, 0.3);
